html{
    font-family:cursive;
    font-size:12;
    background-color:skyblue;
    padding: 50px 0px;
}
img{
    display:block;
    margin:0 auto;
}
body{
    width:500px;
    border:5px solid black;
    padding:0 20px 20px 20px;
    margin:0 auto;
    background-color: lightyellow;
}
h1{
    text-align:center;
    font-size:50px;
    letter-spacing:6px;
}
li{
    padding:5px;
    border:1px solid darkblue;
    text-shadow: 3px 3px 10px blue;
}
h3{
    text-shadow:3px 3px 15px black;
}
a{
    color:green;
    border:1px solid green;
    margin:12px;
    padding: 3px;
}
a[id]{
    margin:0;
}
.p1{
    line-height:2
}
div{
    background-color:aqua;
}
span{
    background-color:chartreuse;
    font-weight:100;
}